<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset=utf-8" />
    <title>{% block title %}WebuyShop{% endblock %} - blog</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block stylesheets %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link href="{{ asset('css/screen.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>

<section id="wrapper">
    <header id="header">
        <div class="top">
            {% block navigation %}
                <nav>
                    <ul class="navigation">


                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <a class="link" href="{{ path('homepage') }}">Homepage</a>
                            |
                            <a class="link" href="{{ path('my_orders') }}">MyOrder</a>
                            |
                            <a class="link" href="{{ path('show_cart')
                        }}">Cart</a>
                            |
                            <a class="link" href="{{ path('logout') }}">Logout {{ app.user.username }}</a>
                        {% else %}

                            <a class="link" href="{{ path('login_form') }}">Login</a>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </div>

        <hgroup>
            <h2>{% block blog_title %}<a href="#">webuy-shop</a>{% endblock %}</h2>
        </hgroup>
    </header>

    <section class="main-col">
        {% block body %}{% endblock %}
    </section>

    <div id="footer">
        {% block footer %}
            created by Deepak Mahajan
        {% endblock %}
    </div>
</section>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
{% endblock %}
</body>
</html>